body{
    background-color: #F0DEDC;
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color:#F0DEDC;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav a:hover{
    color:#AFCDD8 ;

}
nav i{
    color: #F0DEDC;
}
header{
    display: flex;
    min-height: 70px;
    justify-content:space-between;
    background-color: #E0A295;
    align-items: center;
    padding: 10px;
}

h1{
    color:#F0DEDC;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    margin-right: 100px;
}
.carrousel {
    position: relative;
    width: 1000px;
    height: 400px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
  
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.lado-section {
    width: calc(100% / 10);
    height: 100%;
}

.lado-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.boton-left,
.boton-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.boton-left:hover,
.boton-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.boton-left {
    left: 10px;
}
.boton-right {
    right: 10px;
}


@media (max-widht: 700px){
    header{
        flex-direction: column;
    }
}

.contenido{
    background-color: #AFCDD8;
    color: #75625E;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:large;
    text-align:center;
    
}
.contenido h3{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.profesores{
    display: flex;
    justify-content: center;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #75625E;
    font-size: large;
}
.profe{
    background-color:#AFCDD8;
    width: 300px;
    height: 600px;
    margin: 80px;
    border-radius: 10px;
    
}
.profe-img{
    height: 300px;
    background-size: cover;
    border-radius: 10px;
}
.p1{
    background-image: url(./imagenes/profe1.png);

}

.p2{
    background-image: url(./imagenes/profe2.png);

}
.profe h2{
    padding: 12px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size:25px;
}
.profe p{
    padding: 12px;
}

