body{
    background-color: #F0DEDC;
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: #F0DEDC;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav a:hover{
    color:#AFCDD8;
}
nav i{
    color: #F0DEDC;
}
header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    background-color: #E0A295;
    align-items: center;
    padding: 10px;
}
h1{
    color:#F0DEDC;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    margin-right: 100px;
}
.contacto{
    color: #75625E;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
form{
    margin: 0 auto;
    width: 600px;
    color:#75625E;

}

input{
    width: 400px;
    padding: 5px;
    color:#75625E;
    border-color: #E0A295;

}
label{
    font-size:larger;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
select{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #75625E;
}
button{
    width: 150px;
    height: 100;
    color:#75625E;
    border-style: solid;
    border-color: #E0A295;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}